<div class="home-main">
    <div class="intro">
      <div class="left">
        <div class="quote">
          <div>"It’s not just about<p>making it look good;</p><span>it’s about making it work well."</span></div>
        </div>
        <small><span>👋 </span>Hi, I'm Bhanu Prasad</small>
        <span><p>Front End Developer</p></span>
        <p class="desc">I have 3 years of experience as a Front End Developer</p>
        <div class="social-media">
          <div>Follow Me -- </div>
          <a href="https://github.com/bp125" target="_blank"><i class="bi bi-github"></i></a>
          <a href="https://www.linkedin.com/in/bhanuprasad20/" target="_blank"><i class="bi bi-linkedin"></i></a>
        </div>
        <div class="cv">
            <!-- Changed the link to the direct download link -->
            <a href="../../../assets/BHANUPRASAD.pdf" target="_blank">
                <button class="btn btn-primary" type="button">Download CV</button>
            </a>
        </div>
        
      </div>
      <div class="right">
        <div class="outerCircle"></div>
        <div class="innerCircle"></div>
        <div class="icon">
          <div class="date-display">{{ date }}</div>
          <div class="time-display">{{ time }}</div>
        </div>
      </div>
    </div>
  </div>
  