<div class="about-main">
    <div class="left">
        <div>3+</div>
        <div>Years</div>
        <div>Working</div>
        <div>Experience</div>
    </div>
    <div class="right">
        <div>
            I’m Bhanu Prasad, a passionate and dedicated UI/UX Designer  with over 3 years of professional experience. 
            Throughout my career, I have honed my skills in creating responsive, user-centric web applications using technologies like Angular, React.js, HTML, CSS, and JavaScript. 
            I’m skilled in managing complex application states with tools like NgRx and RxJS and have a keen eye for detail, ensuring clean, efficient, and maintainable code. 
            My experience in collaborating within agile teams and integrating seamlessly with back-end services equips me to deliver high-quality, scalable solutions that drive project success.
        </div>
    </div>
</div>

<div class="expe-pro">
    <div class="ex1" (click)="redirectToDashboard()">
        <img src="../../../assets/pi.png" alt="Experience Image">
        <div>PI (Pascal Intelligence)</div>
    </div>
    <div class="ex2" (click)="monet()">
        <img src="../../../assets/monet.png" alt="Experience Image">
        <div>Monet</div>
    </div>
    <div class="ex3" (click)="wizhob()">
        <img src="../../../assets/wizhob.png" alt="Experience Image">
        <div>Wizhob</div>
    </div>
</div>
