<div class="footer">
    <div class="footer-column text-dec">
      <h3>Bhanu Prasad</h3>
      <small>Front End Developer...!</small>
    </div>
    <div class="footer-column social-media">
      <a href="https://github.com" target="_blank"><i class="bi bi-github"></i></a>
      <a href="https://www.linkedin.com" target="_blank"><i class="bi bi-linkedin"></i></a>
      <a href="mailto:example@gmail.com" target="_blank"><i class="bi bi-envelope"></i></a>
    </div>
    <div class="footer-column copy-rights">
      <h3>All Rights Reserved. 2024 Copyright Bhanu Prasad</h3>
    </div>
  </div>
  