<div class="about-main">
    <div class="left">
        <!-- <div class="con">Contact</div> -->
        <div class="contact-item" id="gmail">
            <!-- Added mailto protocol to create a proper email link -->
            <a  target="_blank">Gmail: banothubhanuprasad50@gmail.com</a>
        </div>
        <div class="contact-item" id="github">
            <a href="https://github.com/bp125" target="_blank">GitHub: https://github.com/bp125</a>
        </div>
        <div class="contact-item" id="linkedin">
            <a href="https://www.linkedin.com/in/bhanuprasad20/" target="_blank">LinkedIn: https://www.linkedin.com/in/bhanuprasad20/</a>
        </div>
        <div class="contact-item" id="address">
            <p>Address: 3-46,Chakruthanda,<br>Damaravancha,Gudur,Mahabubabad,506134</p>
        </div>
        <div class="contact-item" id="mobile">
            <p>India : +91 7997244622</p>
        </div>
    </div>
    <div class="right">
        <div>
        </div>
    </div>
</div>
