<nav class="navbar" [ngClass]="isDarkMode ? 'dark-mode' : 'light-mode'">
    <div class="left">
        Bhanu Prasad...
    </div>
    <div class="mid">
        <a routerLink="/home" routerLinkActive="active" class="nav-link">Home</a>
        <a routerLink="/about" routerLinkActive="active" class="nav-link">About</a>
        <a routerLink="/tech" routerLinkActive="active" class="nav-link">Tech Stack</a>
        <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contact</a>
    </div>
    <div class="right">
        <!-- <button routerLink="/hire" class="hire-button btn btn-primary">Hire ME</button> -->
        <button class="btn btn-success mode" (click)="toggleMode()">{{ isDarkMode ? 'Light' : 'Dark' }}</button>
    </div>
</nav>
